@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}
/* efek shine button */
.shine-btn {
  position: relative;
  overflow: hidden;
}

.shine-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-25deg);
}

.shine-btn:hover::before {
  animation: shine 1.2s ease-in-out infinite;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes loading {
  0% { transform: translateX(-100%); }
  50% { transform: translateX(0%); }
  100% { transform: translateX(100%); }
}

.animate-\[loading_1\.5s_linear_infinite\] {
  animation: loading 1.5s linear infinite;
}


